<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Благодарим за отзыв</title>
    <style>
        .lines {
            top: 385px;
        }

        .rectangle-line-green {
            width: 1040px;
        }

        .question {
            position: absolute;
            width: 606px;
            height: 61px;
            left: 337px;
            top: 234px;
        }
    </style>
</head>
<body>
<main>
    <div class="container">
        <div class="card">
            <div class="rectangle1">
                <div class="ellipse1"></div>
                <div class="ellipse2"></div>
            </div>
            <div class="lines">
                <div class="rectangle-line-white"></div>
                <div class="rectangle-line-green"></div>
            </div>
        </div>
        <div class="question">
            <h1>Благодарим за отзыв!</h1>
        </div>
        <div class="back_to_main">
            <a href="/review-grade">Вернуться на главную </a>
        </div>
    </div>
</main>
</body>
</html>