<!DOCTYPE HTML>
<html lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet">
    <title>Приветствие</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    body, a {
        color: #FFFFFF;
    }

    .clarification {
        left: 293px;
    }
</style>
<body>
<main>
    <div class="card">
        <div class="rectangle1">
            <div class="ellipse1"></div>
            <div class="ellipse2"></div>
        </div>
    </div>
    <div class="clarification">
        <h2>Hello!</h2>
    </div>
    <div class="hello">
        <a href="/review-grade">Оставить отзыв</a><br/></br>
        <a href="/review-list">Все отзывы</a><br/></br>
        <a href="/doctor/table">Таблица докторов</a>
    </div>
</main>
</body>
</html>